
@font-face {
    font-family: mainFont ;
    src: url(./../webfonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: SecondFont ;
    src: url(./../webfonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
}

html {
    scroll-behavior: smooth;
}
   
:root {
    --main-color:rgb(220, 53, 69); 
    --p-color:#575B5E;
    --main-font : mainFont;
    --secondary-font: SecondFont;
    --transition-duration:0.3s;
} 
* {
     transition: all var(--transition-duration);
    -webkit-transition: all var(--transition-duration);
    -moz-transition: all var(--transition-duration);
    -ms-transition: all var(--transition-duration);
    -o-transition: all var(--transition-duration);
}
h1 , h2 ,h3 , h4 ,h5 ,h6 {
    font-family: var(--main-font);
}
*:not(h1 , h2 ,h3 , h4 ,h5 ,h6) {
    font-family: var(--secondary-font);
}
.bg-white-gray {
    background-color: #F5F5F5;
}
p {
    color: var(--p-color) !important;
}
/* p {
    color: var(--p-color) ;
} */

.navbar .nav-item .nav-link {
    position: relative;
   
}
.navbar .nav-item .nav-link.active::after , 
.navbar .nav-item .nav-link::after  

{
    content: "";
    display: inline-block;
    height: 3px;
    background-color: var(--main-color);
    position: absolute;
    left: 0;
    bottom: 0;


}


.navbar .nav-item .nav-link::after 
 {
    width: 0%;
     transition: all var(--transition-duration);
    -webkit-transition: all var(--transition-duration);
    -moz-transition: all var(--transition-duration);
    -ms-transition: all var(--transition-duration);
    -o-transition: all var(--transition-duration);
    
}
.navbar .nav-item .nav-link.active {
    color: var(--main-color);
    font-weight: bold;
}
.navbar .nav-item .nav-link.active::after  
{
    width: 100%;
}
.nav-link:hover {
    color: var(--main-color) !important;
}
.navbar .nav-item:hover .nav-link::after {
    width: 100%;
}

.dropdown-toggle::after {
    border: 0 !important;
}


.dropdown-item:focus, .dropdown-item:hover , .nested-drop .nav-link:hover {
    color: white !important;
    background-color: var(--main-color);
}


.dropdown:hover>.dropdown-menu { 
    display: block !important;
}

.nested-drop .nav-link::after {
    width: 0% !important;
}
 

.caption>a:hover {
    background-color: #fff !important;
    color: #000 !important;
   
}



#home {
    background-image: linear-gradient(rgba(0,0,0,0.7) , rgba(0,0,0,0.7)) , url(../images/header-bg.jpg) ;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}


.about-scroll {
   width: 4rem;
   height: 2rem;
   transform: translate(-50%,-50%) rotate(90deg);
   -webkit-transform: translate(-50%,-50%) rotate(90deg);
   -moz-transform: translate(-50%,-50%) rotate(90deg);
   -ms-transform: translate(-50%,-50%) rotate(90deg);
   -o-transform: translate(-50%,-50%) rotate(90deg);
}

.about-scroll::after{
    content: "";
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    background-color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    animation: firstAnim 2s  infinite ;
    -webkit-animation: firstAnim 2s  infinite ;
}
.setting {
    cursor: pointer;
    z-index: 9999999999;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    
    box-shadow: 0 0 0 var(--bs-navbar-toggler-focus-width) var(--main-color);
}


.service .icon {
    width: 5rem !important;
    height: 5rem !important;

}
.service:hover  .icon {
    color:#fff !important;
    background-color: var(--main-color) !important;
    box-shadow: 0px 0px 0px 5px  rgb(220, 53, 69,0.4);


}


.icons li {
   width: 2.5rem;
   height: 2.5rem;
}
.icons li:hover {
   border-color: var(--main-color) !important;
}
.icons li:hover i {
   color: var(--main-color) !important;
}
.header h2 span::after {
   content: '';
   display: inline-block;
   width: 50%;
   height: 5px;
   background-color: tomato;
   position: absolute;
   bottom: -5px;
   left: 0;
   

}

.carousel-indicators button {
    width: 0.8rem !important;
    height: 0.8rem !important;
    background-color: var(--main-color) !important;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}




.work-item .overlay {
    opacity: 0;
}

.work-item:hover .overlay { 
    opacity: 1;
}
.work-item .overlay .overlay-caption {
    transform: translateY(100%) !important;
    -webkit-transform: translateY(100%) !important;
    -moz-transform: translateY(100%) !important;
    -ms-transform: translateY(100%) !important;
    -o-transform: translateY(100%) !important;
}
.work-item:hover .overlay .overlay-caption {
     transform: translateY(0) !important;
     -webkit-transform: translateY(0) !important;
     -moz-transform: translateY(0) !important;
     -ms-transform: translateY(0) !important;
     -o-transform: translateY(0) !important;
     top: 0 !important;
}


/*  */
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: var(--main-color) !important;
    color: #fff !important;
}

.work .nav-link {
    color: #000 !important;
}
.blog-item {
    overflow: hidden;

}

.blog-item-img .blog-overlay {
    width: 95%;
    height: 95%;
    left: 2.5%;
    top: 2.5%;
    transform: rotateY(180deg) scale(0);
    -webkit-transform: rotateY(180deg) scale(0);
    -moz-transform: rotateY(180deg) scale(0);
    -ms-transform: rotateY(180deg) scale(0);
    -o-transform: rotateY(180deg) scale(0);
    opacity: 0;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
}

.blog-item:hover .blog-item-img  .blog-overlay {
    opacity: 1;
    transform: rotateY(360deg) scale(1);
    -webkit-transform: rotateY(360deg) scale(1);
    -moz-transform: rotateY(360deg) scale(1);
    -ms-transform: rotateY(360deg) scale(1);
    -o-transform: rotateY(360deg) scale(1);
}
.blog-item:hover .blog-item-img img {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
.blog-item .blog-item-img {
    overflow: hidden;
}

@keyframes firstAnim {
    0%{
        opacity: 1;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(2rem);
        -webkit-transform: translateX(2rem);
        -moz-transform: translateX(2rem);
        -ms-transform: translateX(2rem);
        -o-transform: translateX(2rem);
}
    
}




.form-control:focus {
      
    box-shadow: 0 0 0.2rem .15rem rgba(220, 53, 69,0.7) !important;
    border-color: var(--main-color) !important;
}



footer .icons a {
    width: 2.5rem;
    height: 2.5rem;
    display: inline-flex;
    background-color: #313131;
    margin: 0.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
footer .icons a:hover i {
    color: var(--main-color) !important;
}